# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore data files
data/raw/
data/processed/

# Ignore model weights or outputs
*.h5
*.pkl
*.joblib

# Ignore logs and temporary files
logs/
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
env/

